.topBtnBox {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.topBtnBox button {
    font-size: 18px;
    font-weight: 700;
}

.topBtn2 {
    background-color: rgb(69, 219, 156);
    border-radius: .5vw;
    color: #042F2E;
    border: none;
    height: 40px;
    width: 102px;
}
.topBtn1 {
    background-color: rgba(69, 219, 156,0);
    border-radius: .5vw;
    color: white;
    border: rgb(69, 219, 156) 2px solid;
    height: 44px;
    width: 93px;
}