*{
    color: white;
}

.card{
    height: 23vw;
    width: 30vw;
    border-radius: 20px;
    margin-bottom: 7.5vw;
    background-size: cover;
    transition: 0.5s ease;
    opacity: 0.9;
}
.card:hover{
    transform: scale(1.07);
    opacity: 1;
}

.container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.inContainer{
    width: 80%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;

}
.cardIcon{
    width: 13vw;
    height: 30%;
    display: flex;
    align-items: center;
}
.cardIcon div{
    width: 4vw;
    height: 4vw;
    background-color: grey;
    border-radius: 50%;
}
.cardHeading{
    margin: 0 0 11.2px 0;
    font-size: 2.2vw;
}
.cardText{
    margin: 0;
    font-size: 0.9vw;
}
.apply{
    justify-self: flex-end;
    height: 20%;
    margin-top: auto;
     font-size: 0.9vw;
}
a{
    text-decoration: none;
    margin-right: 15px;
}

@media(max-width:750px){
    .card{
        width: 80vw;
        height: 62vw;
    }
    .cardText{
        font-size: 2.7vw;
    }
    .cardHeading{
       font-size: 5.5vw;
    }
    .cardIcon div{
        width: 13vw;
        height: 13vw;
    }
    .apply{
         font-size: 3.5vw;
    }
}
